ASLUAV.xml   
all.xml            
common.xml     
cubepilot.xml    
icarous.xml     
matrixpilot.xml  
minimal.xml    
python_array_test.xml  
storm32.xml  
uAvionix.xml
AVSSUAS.xml  
ardupilotmega.xml  
csAirLink.xml  
development.xml  
loweheiser.xml  
paparazzi.xml  
standard.xml           
test.xml     
ualberta.xml
build*
repos*
